#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

.pro {
    padding-left: 30px;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    padding-left: 50px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    padding-left: 70px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    padding-left: 80px;
    text-align: center;
}

#cart table td:nth-child(4) {
    width: 150px;
    padding-left: 80px;
    text-align: center;
}

#cart table td:nth-child(5) {
    width: 150px;
    padding-left: 80px;
    text-align: center;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3 {
    padding-top: 30px;
}

.imgcrl {
    padding-left: 110px;
    padding-right: 160px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#Subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#Subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#Subtotal table td {
    width: 50px;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}